<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SmartechSeleniumHomeTask1" verbose="1" parallel="tests" thread-count="2" configfailurepolicy="skip">
    <test name="Smoke">
        <classes>
            <class name="SampleTest" />
        </classes>
    </test>

    <test name="Regression">
        <classes>
            <class name="SampleTest" />
        </classes>
    </test>

</suite>