<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               strict="true"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
           https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd"
               status="warn" name="SmartechSeleniumHomeTask1" packages="">

    <Appenders>
        <Appender type="Console" name="Console">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Appender>
        <Appender type="File" name="File" fileName="ApplicationLogs.log">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="helper.driver.DriverListener" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="helper.driver.DriverListener" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>