<configuration>
    <property name="PATTERN" value="%d{YYYY-MM-DD HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <property name="APP_LOG_NAME" value="./ApplicationLog.log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${APP_LOG_NAME}</file>
        <append>true</append>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="helper.listeners.DriverListener" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="helper.listeners.TestListener" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>