<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SmartechSeleniumHomeTask1" verbose="1">
    <test name="Smoke">
        <classes>
            <class name="avtodispetcher.AvtodispetcherTest">
                <methods>
                    <include name="verifyAvtodispetcherPageIsDisplayedInSearchResult"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Regression">
        <classes>
            <class name="avtodispetcher.AvtodispetcherTest">
                <methods>
                    <include name="verifyAvtodispetcherPageIsAccessibleFromSearchResult"/>
                    <include name="verifyUserIsAbleToCalculateDistanceAndFuelCost"/>
                    <include name="verifyUserIsAbleToEditTheCalculatedRoute"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>